<html>
<head>
    <script src="./js/jquery-3.1.1.min.js"></script>
    <script src="./js/tether.min.js"></script>
    <link rel="stylesheet" href="./css/tether.min.css" type="text/css">
    <link href="./css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="./css/agenda.css" rel="stylesheet" type="text/css"/>
    <script src="./js/bootstrap.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/moment.js"></script>
    <script src="./js/moment-timezone-with-data.js"></script>
</head>
<body>

<div id="agenda">
    <div class="modal fade" id="session-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div v-if="sessionDetails" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">{{ sessionDetails.title }}</h4>
                </div>
                <div class="modal-body">
                    <div id="session-description">
                        {{ sessionDetails.description }}
                    </div>
                    <div v-if="sessionDetails.extraInfo" class="extra-info">
                        <p>({{sessionDetails.extraInfo}})</p>
                    </div>
                    <div id="session-speakers">
                        <div v-for="speaker in speakers">
                            <p><a :href=getSpeakerLink(speaker.id) target="_blank">{{ speaker.name }}</a></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="headWrapper" class="head-style2 clearfix">
        <header class="top-head  header-2" data-sticky="true">
            <div class="header-container">
                <div class="logo">
                    <a href="http://cas2016.agile-spain.org/" rel="home">
                        <img alt="" src="http://cas2016.agile-spain.org/files/2016/05/logo_web_cas_solo.png">
                    </a>
                </div>
            </div>
        </header>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10 center">
                <ul class="nav nav-inline">
                    <li class="nav-item">
                        <a class="active day-selector" href="#thursday" data-toggle="tab">Jueves</a>
                    </li>
                    <li class="nav-item">
                        <a href="#friday" class="day-selector" data-toggle="tab">Viernes</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="tab-content">
        <div class="tab-pane active" id="thursday">
            <div class="container agendaThursday">
                <agenda-day url="http://cas2016api.azurewebsites.net/sessions/2016-12-01"> </agenda-day>
            </div>
        </div>

        <div class="tab-pane" id="friday">
            <div class="container agendaFriday">
                <agenda-day url="http://cas2016api.azurewebsites.net/sessions/2016-12-02"> </agenda-day>
            </div>
        </div>
    </div>
</div>
<script src="./js/agenda.js"></script>
</body>
</html>